/SyncroCloud/.vs/SyncroCloud/CopilotIndices/17.14.1518.61961/CodeChunks.db
/SyncroCloud/.vs/SyncroCloud/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
/SyncroCloud/.vs/SyncroCloud/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
/SyncroCloud/.vs/SyncroCloud/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
/SyncroCloud/.vs/SyncroCloud/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
/SyncroCloud/.vs/SyncroCloud/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
/SyncroCloud/.vs/SyncroCloud/FileContentIndex/*.vsidx
