<div class="page-header">
  <div>
    <button mat-icon-button routerLink="/devices"><mat-icon>arrow_back</mat-icon></button>
    <h2>Assigned Sensors</h2>
  </div>
  <button mat-raised-button color="primary" (click)="openInstallDialog()">
    <mat-icon>add</mat-icon> Install Sensor
  </button>
</div>

@if (installed.length === 0) {
  <div class="empty-state">
    <mat-icon>sensors_off</mat-icon>
    <p>No sensors installed on this device yet.</p>
  </div>
} @else {
  <table mat-table [dataSource]="installed" class="mat-elevation-z2 full-width">
    <ng-container matColumnDef="sensor">
      <th mat-header-cell *matHeaderCellDef>Sensor</th>
      <td mat-cell *matCellDef="let s">{{ sensorName(s.sensorId) }}</td>
    </ng-container>
    <ng-container matColumnDef="switchNo">
      <th mat-header-cell *matHeaderCellDef>Switch</th>
      <td mat-cell *matCellDef="let s">{{ s.switchNo }}</td>
    </ng-container>
    <ng-container matColumnDef="unitId">
      <th mat-header-cell *matHeaderCellDef>Unit ID</th>
      <td mat-cell *matCellDef="let s"><code>{{ s.unitId }}</code></td>
    </ng-container>
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Display Name</th>
      <td mat-cell *matCellDef="let s">{{ s.displayName }}</td>
    </ng-container>
    <ng-container matColumnDef="sensorType">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let s">{{ s.sensorType }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let s">
        <button mat-icon-button matTooltip="Edit" (click)="openEditDialog(s)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Uninstall" (click)="uninstall(s.id)">
          <mat-icon>link_off</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
}
