<div mat-dialog-title class="dialog-title-row"
     cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary=".cdk-overlay-container">
  <span cdkDragHandle class="drag-handle">
    <mat-icon class="drag-icon">drag_indicator</mat-icon>
    Edit Sensor
  </span>
</div>

<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Display Name</mat-label>
      <input matInput formControlName="displayName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput type="number" formControlName="address" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Port</mat-label>
      <input matInput type="number" formControlName="port" />
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">
    Save Changes
  </button>
</mat-dialog-actions>
